.tableWrapper {
  padding: 1rem;
}

.table {
  background-color: #fff;
  border: solid 0.1rem #ebebeb;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: auto; 
  min-width: 40rem;
}