.textFieldWrapper{
  position: relative;
  margin: 0.5rem 0;
}

.textField{
  height: 3rem;
  padding: 0.8rem 0.8rem 0 0.8rem;
  border: 0;
  border: 0.1rem solid #d4d5d9;
  outline: 0;
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
}

.floatLabel{
  position: absolute;
  transition: 0.2s;
  pointer-events: none;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: scale(1) translate(0.8rem, -50%);
  transform-origin: left top 0;
  transition: transform .2s;
  color: #666;
  font-weight: 700;
}

.textField.active + label, input:focus + label {
  transform: scale(0.9) translate(0.9rem, -125%);
  font-weight: 300;
}